@charset "utf-8";
/* CSS Document */

body{
	margin: 0;
	padding: 0;
	background: radial-gradient(#bdc3c7,#2c3e50);
}
.box{
	width: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #000000;
	text-align: center;
	border-radius: 10px;
}
.box h1{
	color:aqua;
	
}
.box input[type = "email"],.box input[type = "password"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #079C9D;
	padding: 14px 10px;
	width:200px;
	outline: none;
	color: white;
	border-radius: 20px;
	transform: 0.30s;
}
.box input[type="Submit"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #079C9D;
	padding: 14px 42px;
	width:150px;
	outline: none;
	color: white;
	border-radius: 20px;
	transform: 0.30s;
	cursor: pointer;
}
.box input[type="email"]{
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border:2px solid #079C9D;
	padding: 14px 10px;
	width: 200px;
	outline: none;
	color: white;
	border-radius: 20px;
	transform: 0.30s;
}
.box input[type="Submit"]:hover{
	background: #4B9747;
}
button{
	float: left;
	border: 1px solid #bcbccf;
	background: #050505;
	display: inline-block;
	color: white;
	padding: 9px 30px;
	margin: 10px auto;
	cursor: pointer;
	transition-duration: 0.4s;
	border-radius: 5px;
}
button:hover{
	background: white;
	color:#ff0000;
}
.box h2
{
	color: aqua;
}
.box a {
	color: red;
}